.section1 {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 25px;
    height: 475px;

}

input[type=text] {
    border-radius: 10px;
    margin-left: 10px;
    padding-left:25px;
    background-color: #CCFFCC;
    border: none ;
    outline: gray solid 1px;
}
input[type=date] {
    border-radius: 10px;
    margin-left: 10px;
    padding-left:25px;
    background-color: #CCFFCC;
    border: none ;
    outline: gray solid 1px;
  
}
input[type=radio] {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left:25px;
    background-color: #CCFFCC;
   
}

