/*
.navbar {
    background-color: #2DA061;
}*/

.nav-link {
    color: white;
}


.dropdown-item:hover{
    border-radius: 5px;
    
}

.nav-link a {
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg:#2c6044;

}